<section class="projects-section">
    <h2>02 PROJECTS</h2>
    <h3>MY LATEST WORK</h3>
    <div class="image-container">
        <div class="column">
            <div>
                <a href="../Week 4/CSShomework.html" target="_blank">
                    <img src="../../assets/Images/contact-us-project.png" alt="Contact Form">
                </a>
                <p>HTML and CSS</p>
            </div>
            <div>
                <a href="../Week 5/page-layout-homework.html" target="_blank">
                    <img src="../../assets/Images/grid-layout-project.png" alt="Grid Layout">
                </a>
                <p>CSS - Grid layout</p>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="../Week 8/domManipulationHomework.html" target="_blank">
                    <img src="../../assets/Images/rock-paper-scissors-project.png" alt="Rock Paper Scissors Game">
                </a>
                <p>JavaScript & DOM Manipulation</p>
            </div>
            <div>
                <a href="../Week 8/bmi.html" target="_blank">
                    <img src="../../assets/Images/bmi-workshop.png" alt="BMI">
                </a>
                <p>JavaScript & OOP</p>
            </div>
        </div>
    </div>
</section>