@import '../mixins.scss';


.contact-section {
    @include flex-sections;

    .description-form-container {
        @include devices(tablet) {
            display: flex;
            flex-direction: column;
        }

        p {
            line-height: 1.9em;
            @include paragraph-font-size;
        }

        display: flex;

        &>* {
            margin: 20px;
        }

        & .description-container {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            max-width: 300px;

            .personal-description {
                margin: 20px 0;
            }
        }

        & .form-container {
            display: flex;
            flex-direction: column;

            &>.name-email-container {
                display: flex;
                justify-content: space-between;
            }

            #name,
            #email,
            #phone,
            #message,
            .send-button {
                padding: 10px;
            }
        }
    }

    .social-media-buttons {
        display: inline;

        a {
            padding: 10px;
            font-size: 20px;
            text-decoration: none;
            color: white;
            border: 1px solid rgb(203, 203, 203);
            margin: 0 10px;
            border-radius: 20%;
        }

        a:hover {
            background-color: rgb(141, 195, 166);
        }
    }
}