body.dark-mode main {
  background-color: rgb(35, 33, 33);
  color: rgb(231, 231, 231);
}
body.dark-mode main .short-description-section, body.dark-mode main .projects-section, body.dark-mode main .contact-section {
  background-color: darkslategray;
}

body header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(185, 181, 193);
  color: rgb(185, 181, 193);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(58, 97, 97);
}
body main > * {
  scroll-margin-top: 5em;
}
body main .my-name-section {
  padding: 150px 250px 10px 0;
}
body main .my-name-section p {
  font-size: 1.2em;
  line-height: 2.5em;
}
body main .my-name-section h1 {
  font-size: 4em;
  font-weight: 700;
  font-weight: 700;
}
body main .my-name-section h3 {
  letter-spacing: 0.18em;
  margin: 50px 0;
}
body main .short-description-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 100px;
  background-color: rgba(90, 145, 126, 0.795);
  box-shadow: 5px;
}
body main .short-description-section p {
  padding: 40px 20px;
  font-size: 1.2em;
}
body main .skills-section {
  margin: 100px;
}
body main .skills-section h2 {
  padding: 30px;
}
body main .skills-section .skill-bars-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
body main .skills-section .skill-bars-container .progress-bar {
  background-color: darkseagreen;
}
body main .skills-section .skill-bars-container p {
  margin: 0 4px;
  text-align: end;
  letter-spacing: 0.05em;
  line-height: 2.8em;
}
body main .projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 100px;
  background-color: rgba(90, 145, 126, 0.795);
  box-shadow: 5px;
}
body main .projects-section p {
  font-size: 1.2em;
}
body main .projects-section h2,
body main .projects-section h3 {
  padding: 10px;
}
body main .projects-section h2 {
  font-weight: 700;
}
body main .projects-section h3 {
  letter-spacing: 0.1em;
}
body main .projects-section .image-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}
body main .projects-section .image-container img {
  width: 300px;
  height: 300px;
  opacity: 0.9;
}
body main .contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 100px;
  background-color: rgba(90, 145, 126, 0.795);
  box-shadow: 5px;
}
body main .contact-section .description-form-container {
  display: flex;
}
body main .contact-section .description-form-container p {
  line-height: 1.9em;
  font-size: 1.2em;
}
body main .contact-section .description-form-container > * {
  margin: 40px;
}
body main .contact-section .description-form-container .description-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  max-width: 300px;
}
body main .contact-section .description-form-container .description-container .personal-description {
  margin: 20px 0;
}
body main .contact-section .description-form-container .form-container {
  display: flex;
  flex-direction: column;
}
body main .contact-section .description-form-container .form-container > .name-email-container {
  display: flex;
  justify-content: space-between;
}
body main .contact-section .description-form-container .form-container #name,
body main .contact-section .description-form-container .form-container #email,
body main .contact-section .description-form-container .form-container #phone,
body main .contact-section .description-form-container .form-container #message,
body main .contact-section .description-form-container .form-container .send-button {
  padding: 10px;
}
body main .contact-section .social-media-buttons {
  display: inline;
}
body main .contact-section .social-media-buttons a {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
body footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
  min-height: 80px;
}
body footer .copyright-container {
  margin: 0px;
}
body .accent-color {
  color: green;
}/*# sourceMappingURL=home.css.map */