@import '../mixins.scss';

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(90, 145, 126, 0.795);
    body.dark-theme & {
        background-color: rgba(46, 82, 70, 0.795);
    }
      
    nav {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        
        @include devices(tablet) {
            display: grid;
            grid-template-columns: 1fr auto;
            padding: 1em;
        }

        .navbar-brand {
            display: flex;
            justify-content: center;

            @include devices(tablet) {
                display: flex;
                justify-content: left;
            }
        }
        
        .nav-link {
            border-radius: 5px;
            @include devices(tablet) {
                padding: 8px;
            }

            &:hover {
                color:white;
                background-color: rgb(113, 148, 148);
            }
        }
    }

    .accent-color {
        color: green;
    }
}