@import '../mixins.scss';

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
      
    nav {
        display: grid !important; // Boostrap's fault that it used important first so I don't have any options.
        grid-template-columns: 1fr auto 1fr;

        @include devices(tablet) {
            grid-template-columns: 1fr auto;
            padding: 1em;
        }

        .navbar-nav {
            margin: 0 25px;
        }

        .navbar-brand {
            display: flex;
            justify-content: center;
            margin: 0 30px;

            @include devices(tablet) {
                display: flex;
                justify-content: left;
            }
        }
        
        .nav-link {
            border-radius: 5px;
            @include devices(tablet) {
                padding: 8px;
            }

            &:hover {
                color:white;
                background-color: rgb(113, 148, 148);
            }
        }
    }
}