@import '../mixins.scss';

.skills-section {
    margin: 50px;

    h2 {
        padding: 30px;
        text-align: center;
    }

    .skill-bars-container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .progress-bar {
            background-color: darkseagreen;
        }

        &.show-progressbar-transition {}
        & .progress-bar {
            animation-name: fillprogress;
            animation-duration: 5s;
            animation-delay: 4s;
            animation-iteration-count: 400s;
            transition-timing-function: ease-in-out;
            transition: width;
            @keyframes fillprogress {
                from {
                    width: 0px;
                }
                to {
                    width: attr(data-width);
                }
            }
        }

        p {
            margin: 0 4px;
            text-align: end;
            letter-spacing: 0.05em;
            line-height: 2.8em;
        }
    }
}