@import '../mixins.scss';

@mixin flex-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
    margin: 5.5em 0.1em;

    background-color: rgba(90, 145, 126, 0.795); //#41473e

    body.dark-theme & {
        background-color: rgb(30, 52, 52);
    }

    @include devices(tablet) {
        margin: 3em 0.1em;
    }
}

$header-height: 56px;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: $header-height; //compensate absolute header height.

    color: rgb(255, 255, 255);
    background-color: rgba(90, 145, 126);

    body.dark-theme & {
        color: rgb(218, 216, 216);
        background-color: #181818;
    }

    .accent-color {
        color: green;
    }

    &>section {
        min-height: calc(100vh - $header-height);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-name-section {
        background: url(../../assets/Images/forest.jpeg);
        background-size: cover;
        background-attachment: fixed;

        body.dark-theme & {
            background: url(../../assets/Images/workspace2.jpeg);
        }

        .my-name-section-container {
            padding: 50px 20px;
            text-shadow: 1px 2px black;

            @include devices(mobile) {
                padding: 20px 10px 0 0;
                font-size: 10px;
            }

            p {
                font-size: 1.2em;
                line-height: 2.5em;
            }

            h1 {
                font-size: 4em;
                font-weight: 700;

                animation: my-name-load 600ms ease-in;

                @keyframes my-name-load {
                    0% {
                        transform: translateY(-100%);
                    }

                    100% {
                        transform: translateY(0);
                    }
                }

            }

            h3 {
                letter-spacing: 0.18em;
                margin: 20px 0;

                animation-name: slidein;
                animation-duration: 2s;
                animation-delay: 0.6s;
                animation-iteration-count: 400s;
                transition-timing-function: ease-in-out;

                @keyframes slidein {
                    0% {
                        margin-left: 0;
                    }

                    50% {
                        margin-left: 300px;
                    }

                    100% {
                        margin-left: 0;
                    }
                }

                @include devices(mobile) {
                    @keyframes slidein {
                        0% {
                            margin-left: 0;
                        }

                        50% {
                            margin-left: 100px;
                        }

                        100% {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .short-description-section {
        background: url(../../assets/Images/forest.jpeg);
        background-size: cover;
        background-attachment: fixed;

        .short-description-section-container {
            @include flex-sections;
            opacity: 0.9;
            text-shadow: 1px 1px black;

            @include devices(mobile) {
                max-width: 400px;
                margin: 20px 60px;
            }


            .short-description-and-photo {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                img {
                    border-radius: 200px;
                }

                p {
                    padding: 40px 20px;
                    font-size: 1.2em;
                    max-width: 500px;
                }
            }
        }
    }

    .skills-section {
        background: url(../../assets/Images/laptop-work-dark.png);
        background-size: cover;
        background-attachment: fixed;

        .skills-section-container {
            margin: 50px;

            h2 {
                padding: 30px;
                text-align: center;
                text-shadow: 2px 2px black;
            }

            .skill-bars-container {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;

                .progress-bar {
                    background-color: rgb(99, 133, 99);
                }

                &.progress-start .progress-bar {
                    animation-name: fillprogress;
                    animation-duration: 5s;
                    transition-timing-function: ease-in-out;
                    transition: width;

                    @keyframes fillprogress {
                        from {
                            width: 0px;
                        }

                        to {
                            width: attr(data-width);
                        }
                    }
                }

                p {
                    margin: 0 4px;
                    text-align: end;
                    letter-spacing: 0.05em;
                    line-height: 2.8em;
                    text-shadow: 2px 2px black;
                }
            }
        }
    }

    .projects-section {
        .projects-section-container {
            @include devices(mobile) {
                width: 100vw;
            }

            @include flex-sections;
            text-shadow: 1px 1px black;

            p {
                font-size: 1.2em;
            }

            h2,
            h3 {
                padding: 10px;
            }

            h2 {
                font-weight: 700;
            }

            h3 {
                letter-spacing: 0.1em;
            }

            .image-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 50px 0;

                .column {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    &>* {
                        margin: 5px 10px;
                    }
                }

                img {
                    width: 300px;
                    height: 300px;

                    body.dark-theme & {
                        opacity: 0.7;
                    }
                }

                img:hover {
                    filter: brightness(50%);
                    transform: scale(1.1);
                }

                p {
                    text-align: center;
                    margin-top: 20px;

                }
            }
        }

        &.project-animation-start h2,
        &.project-animation-start h3 {
            animation-name: textAppear;
            animation-duration: 5s;
            animation-delay: 0.6;
            transition-timing-function: ease-in-out;

            @keyframes textAppear {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }

    .contact-section {
        background: url(../../assets/Images/laptop-work-dark.png);
        background-size: cover;
        background-attachment: fixed;
        text-shadow: 1px 1px black;

        .contact-section-container {
            @include flex-sections;

            @include devices(mobile) {
                width: 100vw;
            }

            .description-form-container {
                @include devices(tablet) {
                    display: flex;
                    flex-direction: column;
                }

                p {
                    line-height: 1.9em;
                    font-size: 1.2em;
                }

                display: flex;

                &>* {
                    margin: 20px;
                }

                & .description-container {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: space-between;
                    max-width: 300px;

                    .personal-description {
                        margin: 20px 0;
                    }
                }

                & .form-container {
                    display: flex;
                    flex-direction: column;

                    &>.name-email-container {
                        display: flex;
                        justify-content: space-between;
                    }

                    input,
                    textarea {
                        body.dark-theme & {
                            background-color: rgb(229, 229, 229);
                        }
                    }

                    #name,
                    #email,
                    #phone,
                    #message,
                    .send-button {
                        padding: 10px;
                    }
                }
            }

            .social-media-buttons {
                display: inline;
                padding-top: 10px;

                a {
                    padding: 10px;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    border: 1px solid rgb(203, 203, 203);
                    margin: 0 10px;
                    border-radius: 20%;
                }

                a:hover {
                    background-color: rgb(141, 195, 166);
                }
            }
        }
    }
}