@import '../mixins.scss';

@mixin flex-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
    margin: 5.5em 0.1em;

    background-color: rgba(90, 145, 126, 0.795);
    body.dark-theme & {
        background-color: rgb(30, 52, 52);
    }

    @include devices(tablet) {
        margin: 3em 0.1em;
    }
}

main {
    & > * {
        scroll-margin-top: 200px;
    }

    color: rgb(255, 255, 255);
    background-color: rgb(58, 97, 97);
    body.dark-theme & {
        color: rgb(189, 189, 189);
        background-color: rgb(35, 33, 33);
    }

    .accent-color {
        color: green;
    }

    .my-name-section {
        padding: 50px 20px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        @include devices(mobile) {
            padding: 20px 10px 0 0;
            font-size: 10px;
        }

        p {
            font-size: 1.2em;
            line-height: 2.5em;
        }

        h1 {
            font-size: 4em;
            font-weight: 700;

            animation: my-name-load 600ms ease-in;
            @keyframes my-name-load {
                0% {
                    transform: translateY(-100%);
                }

                100% {
                    transform: translateY(0);
                }
            }
        }

        h3 {
            letter-spacing: 0.18em;
            margin: 20px 0;

            animation-name: slidein;
            animation-duration: 2s;
            animation-delay: 0.6s;
            animation-iteration-count: 400s;
            transition-timing-function: ease-in-out;
            @keyframes slidein {
                0% {
                    margin-left: 0;
                }
                50% {
                    margin-left: 300px;
                }
                100% {
                    margin-left: 0;
                }
            }
        }
    }

    .short-description-section {
        @include flex-sections;

        @include devices(mobile) {
            max-width: 400px;
            margin: 20px 60px;
        }

        p {
            padding: 40px 20px;
            font-size: 1.2em;
        }
    }

    .skills-section {
        margin: 50px;

        h2 {
            padding: 30px;
            text-align: center;
        }

        .skill-bars-container {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            .progress-bar {
                background-color: darkseagreen;
            }

            &.progress-start .progress-bar {
                animation-name: fillprogress;
                animation-duration: 5s;
                transition-timing-function: ease-in-out;
                transition: width;
                @keyframes fillprogress {
                    from {
                        width: 0px;
                    }
                    to {
                        width: attr(data-width);
                    }
                }
            }

            p {
                margin: 0 4px;
                text-align: end;
                letter-spacing: 0.05em;
                line-height: 2.8em;
            }
        }
    }

    .projects-section {
        @include flex-sections;

        p {
            font-size: 1.2em;
        }

        h2,
        h3 {
            padding: 10px;
        }
        h2 {
            font-weight: 700;
        }
        h3 {
            letter-spacing: 0.1em;
        }

        &.project-animation-start h2, &.project-animation-start h3 {
            animation-name: textAppear;
            animation-duration: 5s;
            animation-delay: 0.6;
            transition-timing-function: ease-in-out;
            @keyframes textAppear {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 50px 0;

            .column {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &>* {
                    margin: 5px 10px;
                }
            }

            img {
                width: 300px;
                height: 300px;
            }

            img:hover {
                filter: brightness(50%);
            }

            p {
                text-align: center;
                margin-top: 20px;

            }
        }
    }

    .contact-section {
        @include flex-sections;
        margin-bottom: 0 !important;

        .description-form-container {
            @include devices(tablet) {
                display: flex;
                flex-direction: column;
            }

            p {
                line-height: 1.9em;
                font-size: 1.2em;
            }

            display: flex;

            & > * {
                margin: 20px;
            }

            & .description-container {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-between;
                max-width: 300px;

                .personal-description {
                    margin: 20px 0;
                }
            }

            & .form-container {
                display: flex;
                flex-direction: column;

                &>.name-email-container {
                    display: flex;
                    justify-content: space-between;
                }

                input, textarea {
                    body.dark-theme & {
                        background-color: rgb(229, 229, 229);
                    }
                }

                #name,
                #email,
                #phone,
                #message,
                .send-button {
                    padding: 10px;
                }
            }
        }

        .social-media-buttons {
            display: inline;

            a {
                padding: 10px;
                font-size: 20px;
                text-decoration: none;
                color: white;
                border: 1px solid rgb(203, 203, 203);
                margin: 0 10px;
                border-radius: 20%;
            }

            a:hover {
                background-color: rgb(141, 195, 166);
            }
        }
    }
}

body {
    overflow: hidden;
}
main {
    margin-top: 72px;
    height: calc(100vh - 72px);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    section {
        transform-style: preserve-3d;
        position: relative;
        height: calc(100vh - 72px);

        &.no-parallax {
            z-index: 999;
        }

        &.parallax {
            &.bg::after {
                background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url("https://picsum.photos/1080/720");
                background-size: cover;
            }
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateZ(-1px) scale(1.5);
                background-size: 100%;
                z-index: -1;
            }
        }

    }
}
  